* {
  margin: 0;
  padding: 0;
}

.pic-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  animation: bye 2s linear;
  animation-fill-mode: forwards;
  -o-animation: bye 2s linear;
  -moz-animation: bye 2s linear;
  -webkit-animation: bye 2s linear;
   animation-delay: 9s;
  -o-animation-delay: 9s;
  -moz--animation-delay: 9s;
  -webkit-animation-delay: 9s;
}

.pic-wrapper::before{
  background-color: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  animation: bye 2s linear;
  animation-fill-mode: forwards;
  -o-animation: bye 2s linear;
  -moz-animation: bye 2s linear;
  -webkit-animation: bye 2s linear;
   animation-delay: 9s;
  -o-animation-delay: 9s;
  -moz--animation-delay: 9s;
  -webkit-animation-delay: 9s;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  animation: slideShow 6s 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -o-animation: slideShow 6s 1;
  -moz-animation: slideShow 6s 1;
  -webkit-animation: slideShow 6s 1;
  z-index: 100;
}

.pic-1 {
  opacity: 1;
  background-color: #fff;
  background: url('../images/eye-full.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  background-color: #fff;
  animation-delay: 3s;
  -o-animation-delay: 3s;
  -moz--animation-delay: 3s;
  -webkit-animation-delay: 3s;
  background: url('../images/eye-profile-only.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 /*transform:scale(1);
 -ms-transformm:scale(1);*/
 display: none;
}
}

@keyframes
bye {
  100% { display: none;}
}


@-o-keyframes
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 /*-o-transformm:scale(1);*/
 display: none;
}
}

@-moz-keyframes
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 /*-moz-transformm:scale(1);*/
}
}

@-webkit-keyframes
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 /*-webkit-transformm:scale(1);*/
 display: none;
}
}
