/* navbar */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.img-sections {
  padding-top: 10px;
}

.logo img {
  height: 67px;
  width: auto;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
}

.dropdown-menu > li > a {
  display: inline;
  font-weight: 200;
  color: #000;
  line-height: 1.75;
}

.dropdown-menu {
  left: 10px;
  border: 0px #fff;
  box-shadow: none;
}

/* about me */

.about {
  height: 100vh;
}

.about h2 {
  font-size: 168px;
  margin-left: 237px;
}

.about-first h2 {
  margin-top: -15px;
  z-index: 3;
}

.about p {
  height: 141px;
  width: 276px;
  margin-top: 75px;
}

.about-image-hold {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  top: 140px;
  left: 532px;
  overflow: hidden;
  z-index: 1;
}

.about-first img {
  height: 100px;
  width: auto;
  position: relative;
  top: 17px;
  left: 40px;
  z-index: 0;
}

/* hats */

div#hats.content {
  margin-top: 100vh;
}

.content {
  background-size: 472px;
  background-position: bottom right;
}

.parallax-bg {
  background: transparent;
  width: 1117px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.parallax-bg p {
  font-size: 36px;
  line-height: 49px;
  width: 100%;
  margin-top: 2px;
}

.content p {
  padding-left: 125px;
  padding-top: 300px;
}

/* hat sizes & placement */

.grad-cap {
  height: auto;
  width: 302px;
  margin-left: 725px;
  margin-top: -240px;
}

.jester-cap {
  height: auto;
  width: 510px;
}

.comm-cap {
  height: auto;
  width: 240px;
}

.artist-cap {
  height: auto;
  width: 217px;
}

.nerd-cap {
  height: auto;
  width: 227px;
}

.kid-cap {
  height: 375px;
  width: auto;
}

 /*final slide hats*/

.all-the-hats-kid {
  height: 330px;
  width: auto;
  top: -50px;
  left: 725px;
  z-index: 1;
}

.all-the-hats-grad {
  top: 25px;
  left: 500px;
  z-index: 5;
}

.all-the-hats-jester {
  top: -10px;
  left: 25px;
  z-index: 2;
}

.all-the-hats-artist {
  top: -275px;
  left: 775px;
  z-index: 3;
}

.all-the-hats-comm {
  left: 625px;
  top: -280px;
  z-index: 4;
}

.all-the-hats-nerd {
  top: -325px;
  left: 300px;
  z-index: 6;
}

/* resume */

.resume h2 {
  margin-top: 250px;
  font-size: 54px;
  line-height: 120px;
  margin-left: 115px;
}

.btn {
  margin-left: 155px;
}

.devin-resume {
  margin-top: 50px;
}
