/* navbar */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.img-sections {
  padding-top: 10px;
}

.logo img {
  height: 67px;
  width: auto;
}
