/* navbar */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.img-sections {
  padding-top: 10px;
}

.logo img {
  height: 67px;
  width: auto;
}

.navbar-nav > li > a {
  padding-bottom: 0px;
}

.dropdown-menu > li > a {
  display: inline;
  font-weight: 200;
  color: #000;
  line-height: 1.75;
}

.dropdown-menu {
  left: 10px;
  border: 0px #fff;
  box-shadow: none;
}

/* about me */

.about h2 {
  font-size: 168px;
  /*line-height: 201px;*/
  margin-left: 237px;
}

.about-first h2 {
  margin-top: -15px;
  z-index: 3;
}

.about p {
  height: 141px;
  width: 276px;
  margin-top: 75px;
}

.about-image-hold {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  top: 140px;
  left: 532px;
  overflow: hidden;
  z-index: 1;
}

.about-first img {
  height: 100px;
  width: auto;
  position: relative;
  top: 17px;
  left: 40px;
  z-index: 0;
}
