body {
  color: #000;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar-nav .email-icon {
  padding-left: 100px;
}

.navbar-sections {
  padding: 10px 15px;
}

.navbar-nav i {
  color: #000;
  margin-right: -15px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  z-index: 0;
}

.navbar-default .navbar-nav>.active>a {
  background-image: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: #000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000;
  font-weight: 500;
}

.navbar-default .navbar-text {
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;
  font-weight: 500;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-default .navbar-link {
  color: #000;
}

.navbar-default .navbar-link:hover {
  color: #000;
  font-weight: 500;
}

.logo {
  position: relative;
  top: 19px;
  z-index: 1;
}
