body {
  color: #000;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.carousel-caption {
  color: #000;
}

#resume {
  margin-top: 825vh;
}

h2 {
  font-family: 'Manbow';
}

.site-section {
  height: 100vh;
  margin-top: 50px;
}

/* navbar */

.navbar, .container {
  background-color: #fff;
}

.navbar-sections {
  padding: 10px 15px;
}

.navbar-nav i {
  color: #000;
  margin-right: -15px;
}

.navbar-default {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  z-index: 10;
  border: 0px #fff;
}

.navbar-default .navbar-nav>.active>a {
  background-image: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: #000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000;
  font-weight: 500;
}

.navbar-default .navbar-text {
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;
  font-weight: 500;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  font-weight: 500;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-default .navbar-link {
  color: #000;
}

.navbar-default .navbar-link:hover {
  color: #000;
  font-weight: 500;
}

.logo {
  position: fixed;
  top: 19px;
  z-index: 11;
}

/* about me */

.about-me {
  background-color: #fff;
  width: 100%;
}

.buffer {
  margin: 25px;
}

.about h2 {
  z-index: 1;
}

/* hats */

.content {
  height: 100vh;
  background: transparent;
  background-image: url('../images/devin-headshot.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

strong {
  font-weight: 400;
}

/* resume */

/* Modify button */
.btn {
  padding: 10px 20px;
  border: 0 none;
  letter-spacing: 1px;
  color: #000;
}

.btn.outline {
  background: none;
  color: #000;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #000;
  color: #000;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

/* under construction pages */

.under-construction {
  height: 100vh;
  margin-top: 50px;
}

.under-construction p {
  text-align: center;
}
