/* navbar */

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000;
  background-color: #fff
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000;
  background-color: #fff;
}

.logo img {
  height: 37px;
  width: auto;
}

/* mobile-specific menu styling */

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-sections {
  padding: 0;
}

.navbar-nav .email-icon {
  padding-left: 0;
}

.navbar-nav .navbar-icon-image {
  display: inline !important;
}

.navbar-nav {
  text-align: left;
  width: 190px;
  /*margin-right: 100px;*/
}

.dropdown-menu > li > a {
  font-weight: 200;
}

.navbar-collapse.in {
  overflow-y: visible;
}

nav div.container {
  width: 200px;
  padding-right: 0;
  margin-right: 0;
  margin-left: auto;
}

/* about me */

.about h2 {
  font-size: 75px;
}

.about-first h2 {
  z-index: 3;
}

.about p {
  height: 65px;
  width: 240px;
}

.about-image-hold {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  top: 89px;
  left: 125px;
  overflow: hidden;
  z-index: 1;
}

.about-first img {
  height: 45px;
  width: auto;
  position: relative;
  top: 13px;
  left: 25px;
  z-index: 0;
}
