/* navbar */

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000;
  background-color: #fff
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000;
  background-color: #fff;
}

.logo img {
  height: 37px;
  width: auto;
}

/* mobile-specific menu styling */

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-sections {
  padding: 0;
}

.navbar-nav .email-icon {
  padding-left: 0;
}

.navbar-nav .navbar-icon-image {
  display: inline !important;
}

.navbar-nav {
  text-align: left;
  width: 190px;
  /*margin-right: 100px;*/
}

.dropdown-menu > li > a {
  font-weight: 200;
}

.navbar-collapse.in {
  overflow-y: visible;
}

nav div.container {
  width: 200px;
  padding-right: 0;
  margin-right: 0;
  margin-left: auto;
}

/* about me */

.buffer {
  display: none;
}

.about {
  height: 100vh;
}

.about h2 {
  font-size: 75px;
}

.about-first h2 {
  z-index: 3;
}

.about p {
  height: 65px;
  width: 240px;
}

.about-image-hold {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  top: 89px;
  left: 125px;
  overflow: hidden;
  z-index: 1;
}

.about-first img {
  height: 45px;
  width: auto;
  position: relative;
  top: 13px;
  left: 25px;
  z-index: 0;
}

/* hats */

div#hats.content {
  margin-top: 100vh;
}

.content {
  background-size: 372px;
  background-position: 250px 350px;
}

.parallax-bg {
  background: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.parallax-bg p {
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 2px;
}

.content p {
  /*padding-top: 300px;*/
}

.parallax-bg img {
  position: relative;
}

/* hat sizes & placement */

.grad-cap {
  height: auto;
  width: 302px;
  bottom: 250px;
  left: 475px;
}

.jester-cap {
  height: auto;
  width: 510px;
  bottom: 455px;
  left: 325px;
}

.comm-cap {
  height: auto;
  width: 240px;
  bottom: 275px;
  left: 550px;
}

.artist-cap {
  height: auto;
  width: 217px;
  bottom: 330px;
  left: 540px;
}

.nerd-cap {
  height: auto;
  width: 227px;
  bottom: 290px;
  left: 515px;
}

.kid-cap {
  height: 375px;
  width: auto;
  bottom: 440px;
  left: 500px;
}

 /*final slide hats*/

 .all-the-hats {
  position: relative;
  bottom: 225px;
 }

.all-the-hats-kid {
  height: 330px;
  width: auto;
  top: -150px;
  left: 625px;
  z-index: 1;
}

.all-the-hats-grad {
  top: 25px;
  left: 250px;
  z-index: 5;
}

.all-the-hats-jester {
  top: -350px;
  left: 350px;
  z-index: 2;
}

.all-the-hats-artist {
  top: -275px;
  left: 50px;
  z-index: 3;
}

.all-the-hats-comm {
  left: 625px;
  bottom: 680px;
  z-index: 4;
}

.all-the-hats-nerd {
  top: -675px;
  left: 350px;
  z-index: 6;
}

/* resume */

.resume {
  text-align: center;
}

.resume h2 {
  font-size: 67px;
  text-align: center;
  margin: 25px 25px 0px 25px;
}

.resume img {
  height: 323px;
  width: 250px;
}

.btn {
  padding: 5px 10px;
  border: 0 none;
  letter-spacing: 1px;
  color: #000;
  margin: 25px;
}

.btn.outline {
  background: none;
  color: #000;
  padding: 6px 11px;
}

.btn-primary.outline {
  border: 2px solid #000;
  color: #000;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

/* ux portfolio */

.ux-portfolio h2 {
  font-size: 30px;
}

.ux-icon {
  height: 57px;
  width: auto;
}

/* tea with strangers */

.tea-with-strangers h2 {
  font-size: 30px;
}

.tea-profile {
  height: 194px;
  width: 194px;
}

.tea-first {
  height: 101px;
  width: 101px;
}

.tea-second {
  height: 152px;
  width: 152px;
}

.tea-third {
  height: 66px;
  width: 66px;
}


/* under construction */

.under-construction h2 {
  font-size: 65px;
  text-align: center;
  margin-top: 150px;
}

.under-construction {
  height: 100vh;
}

.under-construction img {
  height: 200px;
  width: auto;
  margin-left: 40%;
}

.under-construction p {
  text-align: center;
}
